<footer class="bg-white rounded shadow p-4 mb-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-4 mb-md-0">
                <h5 class="text-uppercase">ForeCoin Project</h5>
                <p>
                    A real-time live analytics and model predictions.
                </p>
            </div>

            <div class="col-md-5 text-md-end">
                <h5 class="text-uppercase">Resources</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-primary fw-normal" href="https://github.com/Elginz/ForeCoin" target="_blank">Github Repo</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://appseed.us/admin-dashboards/flask-dashboard-volt">Flask Volt Template</a>
                    </li>
                </ul>
            </div>

        </div>

        <hr class="my-4">

        <div class="text-center">
            <p class="mb-0">
                &copy; 2025 Copyright:
                <a class="text-dark fw-bold" href="https://github.com/Elginz/ForeCoin">ForeCoin</a>
            </p>
        </div>

    </div>
</footer>
